/*
    Document   : paymill_styles.css
    Created on : 04.06.2013, 16:43:16
    Author     : PayIntelligent
    Description: Purpose of the stylesheet follows.
*/

.paymill_powered
{
    border: 1px solid #ccc;
    width: 340px;
    height: 32px;
    padding: 4px;
    background: white url('image/logo.png') no-repeat center right;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 10px;
}

.paymill_powered > .paymill_credits
{
    width: 160px;
    color: #666;
}

.paymill_powered > a
{
    color: #666;
    text-decoration: underline;
}

.payment-errors
{
    color: red;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
}

.span1
{
    height: 18px !important;
    width: 195px;
}

.card-number-label,
.card-number,
.card-cvc-label,
.card-cvc,
.card-holdername,
.card-holdername-label,
.elv-account,
.elv-account-label,
.elv-holdername,
.elv-holdername-label {
    margin-bottom: 10px;
}

.card-expiry-month
{
    margin-right: 6px;
}

.card-expiry-year
{
    margin-left: 6px;
}

.card-expiry-month, .card-expiry-year
{
    width: 90px;
}

.paymill-card-number-visa
{
    background: url('image/32x20_visa.png') no-repeat center right !important;
}

.paymill-card-number-mastercard
{
    background: url('image/32x20_mastercard.png') no-repeat center right !important;
}

.paymill-card-number-amex
{
    background: url('image/32x20_amex.png') no-repeat center right !important;
}

.paymill-card-number-jcb
{
    background: url('image/32x20_jcb.png') no-repeat center right !important;
}

.paymill-card-number-maestro
{
    background: url('image/32x20_maestro.png') no-repeat center right !important;
}

.paymill-card-number-carte-bleue
{
    background: url('image/32x20_unionpay.png') no-repeat center right !important;
}

.paymill-card-number-diners-club
{
    background: url('image/32x20_dinersclub.png') no-repeat center right !important;
}

.paymill-card-number-discover
{
    background: url('image/32x20_discover.png') no-repeat center right !important;
}

.paymill-card-number-carta-si
{
    background: url('image/32x20_carta-si.png') no-repeat center right !important;
}

.paymill-card-number-carte-bleue
{
    background: url('image/32x20_carte-bleue.png') no-repeat center right !important;
}

.paymill-card-number-dankort
{
    background: url('image/32x20_dankort.png') no-repeat center right !important;
}

.paymill-card-number-china-unionpay
{
    background: url('image/32x20_unionpay.png') no-repeat center right !important;
}

.paymill-card-number-grayscale
{
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.tooltip
{
    margin-left: 3px;
    font-size: 11px;
    color: #E2E2E2;
    padding: 0 5px;
    border-radius: 100px;
    background: #636363;
}



/*
    Paymill Admin Installmenu
*/
.paymill_main{
    border: solid black 1px;
    width: 350px;
    margin: 10px;
}
.row{
    position: relative;
    border: none;
}
.row h3{
    margin: 0px auto;
    width: 200px;
}
.install_button{
    position: absolute;
    right: 10px;
}
.paymill_green{
    color: green;
}
.paymill_red{
    color: red;
}