/*
    Document   : paymill_styles.css
    Created on : 04.06.2013, 16:43:16
    Author     : Stefan
    Description:
        Purpose of the stylesheet follows.
*/
.paymill-label{
    text-align:right;
}

.payment-errors {
    color: red;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
}